body {
    background: #eee;
    background: url("../img/furley_bg.png");
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
    font-family:"glyphicons halflings"; 
}
.nav-header{
    margin-top: 10px;
}
.search{
    cursor: pointer;
}
.row-fluid .span3 {
    width: 23.076923076923077%;
    float: left;
}
.row-fluid .span9 {
    width: 74.35897435897436%;
    float: left;
    padding-left: 20px;
}
.form-inline{
	padding: 20px;
}
.table{
	table-layout:fixed; 
}
.table th,
.table td{
	height: 36px;
	text-align: center;
/*	text-overflow: hidden;
*/	text-overflow:ellipsis; 
	white-space:nowrap; 
    overflow:hidden
}
.table td:hover { 
	text-overflow:inherit; 
	overflow:visible; 
} 
.action{
	padding: 0 5px;
}
.del{
	color: #2a6496;
	cursor: pointer;
}
#callBackPager{
	text-align: center;
}
footer{
	padding: 1em;
	margin-top: 4em;
	color: #666;
	font-size: .85em;
	line-height: 1.3em;
	clear: both;
}

/*theme*/
.navbar .navbar-inner {
  background: #555555;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #444444), color-stop(1, #555555));
  background: -ms-linear-gradient(bottom, #444444, #555555);
  background: -moz-linear-gradient(center bottom, #444444 0%, #555555 100%);
  background: -o-linear-gradient(bottom, #444444, #555555);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555',EndColorStr='#444444')";
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px;
  border-bottom: 1px solid #222;
  -webkit-box-shadow: 0px 1px 0px #f0f0f0;
  -moz-box-shadow: 0px 1px 0px #f0f0f0;
  box-shadow: 0px 1px 0px #f0f0f0;
}
.sidebar-nav .nav-header {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
}
.sidebar-nav .nav-list.collapse.in {
    border-bottom: 1px solid #ccc;
}
.sidebar-nav .nav-list.collapse {
    margin-top: 0em;
    margin-bottom: 0em;
}
.sidebar-nav .nav-list.collapse {
    margin-bottom: 1em;
}
.sidebar-nav .nav-list {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  margin: 1em;
  margin: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 0px;
}
.sidebar-nav .nav-list > li > a {
    padding: .5em 1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.block {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}
.nav-tabs > li {
    margin-left: .5em;
}
.nav-tabs > li > a {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
footer hr {
    margin: 2em -2em;
}
hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}