<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.news.mapper.ArticleMapper">
    <resultMap id="articleResultMap" type="Article">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>
    <resultMap id="searchDto" type="com.together.news.dto.SearchDto">
        <result property="categoryId" column="category_id" />
        <result property="name" column="name" />
        <result property="title" column="title" />
    </resultMap>
    <resultMap id="articleDtoResultMap" type="com.together.news.dto.ArticleDto">
        <id column="id" property="id"/>
        <result property="categoryId" column="category_id" />
        <result property="name" column="name" />
        <result property="title" column="title" />
        <result column="content" property="content"/>
    </resultMap>
    <select id="listAll" resultMap="articleDtoResultMap">
        SELECT
        article.`id` AS id,
        article.`category_id` AS categoryId,
        name,
        article.`title` AS title,
        article.`content` AS content
        FROM `cms_article` article
        LEFT JOIN `cms_category` ON article.`category_id` = `cms_category`.id
    </select>

    <select id="listByCategoryId" resultMap="articleDtoResultMap">
        SELECT
        article.`id` AS id,
       `category_id` AS categoryId,
       `title` AS title,
        article.`content` AS content,
        name
        FROM `cms_article` article
        LEFT JOIN `cms_category` ON article.`category_id` = `cms_category`.id
        WHERE article.`category_id` = #{categoryId}
    </select>

    <delete id="delById">
       DELETE article,articleData
       FROM `cms_article` article, `cms_article_data` articleData
       WHERE article.`id` = articleData.id
       AND article.`id` = #{id}
    </delete>

    <select id="listBySearchDto" resultMap="articleDtoResultMap" >
        SELECT
        article.`id` AS id,
        category_id AS categoryId,
        title,
        content,
        name
        FROM `cms_article` article
        LEFT JOIN `cms_category` ON `article`.`category_id` = `cms_category`.id
        <where>
                <if test="name != null and name.length()!=0 ">
                    (
                    `cms_category`.`name` LIKE "%"#{name}"%"
                    )
                </if>
                <if test="title != null and title.length!=0">
                    (
                    AND article.`title` LIKE "%"#{title}"%"
                    )
                </if>
        </where>
    </select>
    <select id="queryNameById" resultType="string">
        SELECT
        `cms_article`.`title`
        FROM `cms_article`
        WHERE `cms_article`.`id` = #{id}
    </select>

    <select id="countBySearchDto" resultType="int">
        SELECT
        COUNT(1)
        FROM `cms_article`
        LEFT JOIN `cms_category` ON `cms_article`.`category_id` = `cms_category`.id
        <where>
            <if test="name != null and name != ''">
                (
                `cms_category`.`name` LIKE "%"#{name}"%"
                )
            </if>
            <if test="title != null and title != ''">
                (
                AND `title` LIKE "%"#{title}"%"
                )
            </if>
        </where>
    </select>

</mapper>